.footer {
  display: flex;
  /* flex-wrap: nowrap;
    justify-content: space-between; */
  justify-content: space-between;
  width: 100%;
  /*modificar el %*/
  height: 3rem;
  bottom: 0rem;
  position: absolute;
  background-color: BLACK;
  color: white;
  font-size: 1.8rem;
  /* background-color: rgba(0, 0, 0, 0.8); */
  /* border: 0.7rem double rgba(9, 4, 1, 0.7); */
  /* border-bottom: 0.7rem double rgba(255, 255, 255, 0.7); */
  /* border-top: 0.7rem double rgba(255, 255, 255, 0.7); */
 /* text-shadow:  5px 5px 6px; */
}

.copyrigth {
  display: flex;
  padding: 1rem;
}