.footer {
  display: flex;
  /* flex-wrap: nowrap;
    justify-content: space-between; */
  justify-content: space-between;
  width: 100%;
  /*modificar el %*/
  height: 3rem;
  bottom: 0rem;
  position: absolute;
  background-color: BLACK;
  color: white;
  font-size: 1.8rem;
 text-shadow:  5px 5px 6px;
}

.copyrigth {
  display: flex;
  padding: 1rem;
}