:root {
    --brown: #9D7261;
    --brown1: #CCB19D;
    --orange1: #F0A28E;
    --brown2: #675741;
    --black: #000000;
    --brown3: #BA8A6A;
    --white: #FFFFFE;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; /*Bordes de las cajas por dentro*/
    font-size: 62.5%; /*Reseteando los tamaños de fuente para que 1 rem sea igual a 10px */
}

.viewLogin{
    width: 100%;
    height: 100%;
    background-image: url('../assets/fondoFastFood.jpg');
    background-size: cover;
    background-attachment: fixed;
    display:flex;
    justify-content: flex-end;
    position: absolute;
}
.spaceLogin {
    width: 50%;
    height: 100%;
    background-color: rgba(243, 143, 143, 0.8);
    backdrop-filter: blur(15px);
    background-size: cover;
    background-attachment: fixed;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.logoFastFood{
    height: 55%;
    margin-block-end: -15rem;
    margin-top: 5rem;
}
.areaDatosLogin{
    padding: 3rem;
    background-color: rgba(251, 251, 251, 0.8);
    border-radius: 2rem;
    display:flex;
    justify-content:flex-start;/*verticalmente*/
    align-items: center;
    flex-direction: column;
    font-size: 3.5rem;
    margin: 0rem 2rem;
}

.email {
    /* margin: 0.5rem 2rem; */
    margin-top:1rem;
}    
.email, .password{
    font-size: 2rem;
    display:flex;
    justify-content: center;
    height: 3rem;
}

.errorMessage{
    font-size: 1.5rem;
    display:flex;
    justify-content: center;
    height: 3rem;
    padding: 1rem;
}


.loginEmail, .loginPassword {
  background-color: transparent;
  border-style:none;
  border-bottom-width: 0.2px;
  border-bottom-style: solid;
  border-bottom-color: black;
}

.btnLogin, .btnEnviar{
    margin-top:2rem;
    width: 10rem;
    border-style:solid;
    border-color: black;
    border-width: medium;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0.3rem;
  }

.btnLogin:hover {
    background-color: white;
    color: black;
}

