:root {
  --brown: #9D7261;
  --brown1: #CCB19D;
  --orange1: #F0A28E;
  --brown2: #675741;
  --black: #000000;
  --brown3: #BA8A6A;
  --white: #FFFFFE;
}


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /*Bordes de las cajas por dentro*/

  font-size: 62.5%;
  /*Reseteando los tamaños de fuente para que 1 rem sea igual a 10px*/
}

.ButonDeleteItem{
  background-color: transparent;
  border-style: none;
  height: 3rem;
}
/* .pedidosMenuView{
    width: 100%;
    height: 100%;
    background-image: url('../assets/fondoRosa.jpg');
    background-size: cover;
  } */
.waiterOptionsMenu {
  display: flex;
  padding: 1rem;
  margin: 2rem;
  list-style-type: none;
  /* transform: rotate(270deg); */
}

.waiterButtonsMenu {
  margin: 1rem;
  list-style: none;
  display: inline;


}

.headerViews {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 2%;
  background-color: BLACK;
  color: white;
}

.waiterBody,
.viewWaiterPedidos {
  /* background-color: rgb(217, 191, 181);  */
  /* background-image: url('../assets/fondoRosa.jpg') ; */
  display: flex;
  flex-direction: row;
  padding: 1rem;
  margin: 0rem;
  justify-content: space-between;
}

/* .viewWaiterPedidos {
  background-color: rgba(243, 143, 143, 0.8);
  backdrop-filter: blur(15px);
} */

 .pedidosMenuView{
    background-color: rgba(243, 143, 143, 0.8);
    background-size: cover;
  } 

.waiterContainer {
  background-color: rgba(9, 4, 1, 0.3);
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  padding: 2rem;
}


.waiterOptions {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: flex-start;
  padding: 1rem 0rem;
  margin: 0.5rem;
}

.datos {
  display: flex;
  flex-direction: column;
  font-size: 2.5rem;
  margin: 1rem 0rem;

}

input::placeholder {
  color: rgb(65, 64, 64);

}
.text{
  background-color:rgb(251, 249, 248, 0.5);
  border-style:none;
/* border-bottom-width: 0.2px; */
  margin: 0.3rem;
  padding: 0.3rem 2rem;
  border-radius: 1rem;
}

/* .waiterButtons {
  padding: 1rem;
  margin: 1rem;
  list-style-type: none;

  text-decoration: none;
  background-color: rgba(48, 31, 16, 1);
  color: aliceblue;
  padding: 1rem;
  font-size: 10px;
  border-radius: 6px;
}

.waiterButtons:hover {
  background-color: rgb(123, 90, 11);
} */


.waiterButtons{
  margin-top:2rem;
  margin: 0rem 0.5rem;
  width: 10rem;
  border-style:solid;
  border-color:  rgba(48, 31, 16, 1);
  border-width: medium;
  background-color: rgba(48, 31, 16, 1);
  color: white;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0.3rem;
  text-decoration: none;
}

.waiterButtons:hover {
  background-color: rgb(245, 220, 120);
  color:rgba(48, 31, 16, 1);
}











.typeMenu {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  background-color: rgba(48, 31, 16, 1);
  color: aliceblue;
  padding: 1.5% 30%;
  font-size: 10px;
  border-radius: 6px;
}

.waiterMenu {
  background-color: rgba(101, 42, 27, 1);
  border-radius: 6px;
  padding: 2.5%;
  width: 100px;
  color: aliceblue;
  font-size: 10px;
}

.menuConstainer {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  /* margin: 2rem; */

}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(160, 134, 123, 1);
  width: 100px;
  height: 130px;
  color: aliceblue;
  font-size: 10px;
  border-radius: 6px;
  border-color: rgb(239, 239, 245);
  margin: 1rem;
  margin-block-end: 2rem;
}

.productName {
  /* background-color: rgba(103, 87, 65, 1); */
  background-color: rgb(245, 220, 120);
  /* background-color:  rgba(243, 143, 143, 0.8); */
  color:black;
  border-radius: 4px;
  padding: 5.5%;
  font-size: 10px;
}

.productCost {

  color: aliceblue;
  font-size: 12px;
}

img {
  max-width: 80%;
  max-height: 80%;
}

.imgProduct {

  border-radius: 4px;
  padding: 4.5%;
  color: aliceblue;
  font-size: 10px;
}

.buttonAñadir {
  background-color: black;
  border-radius: 4px;
  padding: 4.5%;
  color: aliceblue;
  font-size: 10px;
}


.buttonAñadir:hover {
  /* background-color: rgb(245, 220, 120); */
  color:rgb(245, 220, 120);
  border-color: rgb(245, 220, 120);
  border-style: solid;
  /* border: 0.5rem */
}

.waiterList {
  background-color: rgba(9, 4, 1, 0.3);
  /* background-color: black; */
  width: 100%;
  height: 100%;
  margin: 1rem;
  padding: 1.5rem;
  color: aliceblue;
  font-size: 2.5rem;
  border-radius: 1rem;
}


td {
  background-color: rgba(255, 255, 255, 0.5);
}

th, td{
  border-radius:  0.5rem;
  font-size: 1.5rem;
}

table {
  /* border: none; */
  background-color:rgb(251, 249, 248, 0.3);
  width: 100%;
  border-radius:  1rem;
  border-collapse: separate;
  padding: 1rem;
  font-size: 3rem;
  color: black
}
