* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 62.5%;
  }

 .pedidosMenuView{
    background-color: rgba(243, 143, 143, 0.8);
    /* background-size: cover; */
    /* background-attachment: fixed; */
    height: 100vh;
    margin: 0rem;
    position: absolute;

  } 

  .waiterButtons, .waiterButtonsPrincipal{
    /* margin-top:5rem; */
    /* margin: 10rem 0.5rem; */
    width: 10rem;
    border-style:solid;
    border-color:  rgba(48, 31, 16, 1);
    border-width: medium;
    background-color: rgba(48, 31, 16, 1);
    color: white;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0.3rem;
    text-decoration: none;
  }
  
  .waiterButtonsPrincipal{
    margin:2rem;
    border-color:  transparent;
    /* border-width: 5rem; */
    font-size: 1.5rem;
  }


  .waiterButtons:hover {
    background-color: rgb(245, 220, 120);
    color:rgba(48, 31, 16, 1);
  }