* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 62.5%;
  }

 .pedidosMenuView{
    background-color: rgba(243, 143, 143, 0.8);
    /* background-size: cover; */
    /* background-attachment: fixed; */
    height: 100vh;
    margin: 0rem;
    /* position: absolute; */
  } 